<div class="ui-content-view">
    <div class="ui-view-content">
        <div class="ui-per-view clearfix">
            <span class="erro-tip-text"></span>
            <form name="perEditSubmit">
                <div class="ui-kehu-source-content ui-kehu-source-edit clearfix">
                    <ul>
                        <li>
                            <em>*</em><span>姓名</span><input type="text" name="pername"/>
                        </li>
                        <li>
                            <em>*</em><input type="radio" name="persex" value="0" checked />男&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="persex" value="1" />女
                        </li>
                        <li>
                            <em>*</em><span>手机号</span><input type="text" name="mobile" />
                        </li>
                        <li>
                            <span>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</span><input type="text" name="email" value="" />
                        </li>
                        <li>
                            <span>证件类型</span><select class="ui-select ui-m-r" name="cardtype">
                            <option value ="{{cateofid.id}}" ng-repeat="cateofid in cateofidData">{{cateofid.cateof}}</option>
                            </select>
                            <input type="text" name="cardno" style="width: 368px;" value=""/>
                        </li>
                        <li>
                            <span>分配群组</span><select name="pertype" class="ui-select ui-m-r">
                            <option value ="0">请选择</option>
                            <option value ="{{group.groupid}}" ng-repeat="group in groupData">{{group.groupname}}</option>
                            </select>
                        </li>
                        <li>
                            <span>职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业</span><input type="text" name="perjob" />
                        </li>
                        <li>
                            <span>QQ</span><input type="text" name="perqq" />
                        </li>
                        <li>
                            <span>详细地址</span><input type="text" name="peraddrd" />
                        </li>
                        <li>
                            <span>家庭年收入（万）</span><input type="text" name="permoney" style="width:153px" />
                        </li>
                        <li>
                            <span>家庭疾病史</span><input type="text" name="perdisease" />
                        </li>
                        <li style="height:80px">
                            <span>备 注</span><textarea class="ui-per-textarea" placeholder="备注"></textarea>
                        </li>
                    </ul>
                </div>
                <div class="ui-m-t"><input type="submit" value="提交" class="ui-btn ui-btn-position" ng-click="kehuAddPersons()"></div>
            </form>
        </div>

    </div>
</div>