<div class="ui-bottom-toolbar">
    <div class="ui-bottom-toolbar-wrap">
        <div class="ui-bottom-toolbar-item" ng-click="allCheckeds($event.target);" ng-controller="allChecked"> 
            <b class="ui-bottom-toolbar-ico-wrap"> <input type="checkbox" class="ui-bottom-toolbar-ico" /> </b> 全选 
        </div>
        <div class="ui-bottom-toolbar-item" ng-click="kehuDels($event.target);" ng-controller="kehuDel"> 
            <b class="ui-bottom-toolbar-ico-wrap"> <span type="checkbox" class="ui-bottom-toolbar-ico ui-bottom-toolbar-icodel"></span> </b> 删除 
        </div>
    </div>
</div>